alias dualscreen='xrandr --output VGA1 --auto --right-of LVDS1'
alias crossorigin='chromium-browser --disable-web-security'
alias nexus4mount='sudo mtpfs -o allow_other /media/nexus4'
alias nexus4unmount='sudo umount /media/nexus4'
alias rightof='xrandr --output VGA1 --right-of LVDS1'
alias leftof='xrandr --output VGA1 --left-of LVDS1'
alias topof='xrandr --output VGA1 --above LVDS1'
alias bottomof='xrandr --output VGA1 --below LVDS1'
alias slumber='sudo pm-suspend'
alias scanwlan='sudo arp-scan --interface=wlan0 --localnet'
alias scanelan='sudo arp-scan --interface=eth0 --localnet'
alias wifi-down='sudo ip link set down wlp3s0'

alias redshift-toggle='(pgrep redshift && pkill redshift) || redshift -l 55.4:12.25 -m vidmode &'
alias git-yolo='git commit -am "`curl -s http://whatthecommit.com/index.txt`"'
alias pdf='zathura'
alias findsplot='sudo arp-scan --interface=eth0 --destaddr=90:59:af:64:85:fe --localnet'
alias renet='sudo pdnsd-ctl server 0 retest'
alias nsqor="EXTRA_DOCKER_OPTS='-e DEV_ADDR=http://localhost:8080 -it' ./run"
